body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 40px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 20px;
}

.formulario {
  background: #fff8ee;
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.formulario label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulario button {
  width: 100%;
  padding: 12px;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.formulario button:hover {
  background-color: #d35400;
}
